@model AllMoviesQueryModel;
@using MovieTickets.Web.ViewModels.Movie;

@{
	ViewBag.Title = "All Movies";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<form method="get">
	<div class="row content-center">
		<div class="form-group col-md-3 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="Category"></label>
				<select asp-for="Category" class="form-control">
					<option value="0">All Movies</option>
					<option value="1">Action</option>
					<option value="2">Comedy</option>
					<option value="3">Drama</option>
					<option value="4">Documentary</option>
					<option value="5">Adventure</option>
					<option value="6">Fantasy</option>
					<option value="7">Horror</option>
					<option value="8">Romance</option>
					<option value="9">Thriller</option>
					<option value="10">Western</option>
				</select>
			</div>

			<div class="form-group">
				<label asp-for="MoviesPerPage"></label>
				<select asp-for="MoviesPerPage" class="form-control">
					<option value="3">3</option>
					<option value="6">6</option>
					<option value="9">9</option>
				</select>
			</div>
		</div>

		<div class="form-group col-md-3">
			<label asp-for="SearchString"></label>
			<input asp-for="SearchString" class="form-control" placeholder="...">
		</div>

		@*<div class="form-group col-md-3">
			<div class="form-group">
				<label asp-for="MovieSorting"></label>
				<select asp-for="MovieSorting" class="form-control">
					<option value="0">All</option>
					<option value="1">Newest</option>
					<option value="2">Oldest</option>
					<option value="3">Price (Ascending)</option>
					<option value="4">Price (Descending)</option>
				</select>
			</div>
		</div>*@

		<div class="col-md-3">
			<div class="form-group mt-4 p-2">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>


@{
	int previousPage = Model.CurrentPage - 1;
	if (previousPage < 1)
	{
		previousPage = 1;
	}

	int maxPage = (int)Math.Ceiling((double)Model.TotalMovies /
		Model.MoviesPerPage);
}

<div class="row mb-5">
	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-outline-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Movie"
		   asp-action="Filter"
		   asp-route-currentPage="@previousPage"
		   asp-route-category="@Model.Category"
		   asp-route-searchTerm="@Model.SearchString"
		   asp-route-sorting="@((int?)Model.MovieSorting)"><<</a>
	</div>

	@{
		bool shouldNextPageBeDisabled = Model.CurrentPage == maxPage ||
		!Model.AllMoviesViewModels.Any();
	}

	<div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
		<a class="btn btn-outline-primary @(shouldNextPageBeDisabled ? "disabled" : string.Empty)"
		   asp-controller="Movie"
		   asp-action="Filter"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-category="@Model.Category"
		   asp-route-searchTerm="@Model.SearchString"
		   asp-route-sorting="@((int?)Model.MovieSorting)">>></a>
	</div>
</div>

@if (!Model.AllMoviesViewModels.Any())
{
	<h2 class="text-center">No houses found by the given criteria!</h2>
}

@*<div class="row">
	<partial name="AllMovies" model="@Model.AllMoviesViewModels" />
</div>*@
<div class="row">
	@foreach (var item in Model.AllMoviesViewModels)
	{
		<div class="col-md-4 col-xs-6 border-white mb-3">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-12">
						<div class="card-header text-white bg-info">
							<p class="card-text">
								<h5 class="card-title">
									@item.Title
									@if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
									{
										<a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
									}
								</h5>
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<img src="@item.ImageUrl" width="100%" alt="">
					</div>
					<div class="col-md-6">
						<div class="card-body">
							<p class="card-text">@item.Description</p>
							<p class="card-text"><b>Cinema: </b>@item.Cinema</p>
							<p class="card-text"><b>Category: </b>@item.MovieCategory</p>
							<p class="card-text"><b>Start Date: </b>@item.StartDate!.Value.ToString("d MMM yy")</p>
							<p class="card-text"><b>End Date: </b>@item.EndDate!.Value.ToString("d MMM yy")</p>
							<p class="card-text ">
								<b>Status: </b>
								@if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
								{
									<span class="badge bg-success text-white">AVAILABLE</span>
								}
								else if (DateTime.Now > item.EndDate)
								{
									<span class="badge bg-danger text-white">EXPIRED</span>
								}
								else
								{
									<span class="badge bg-primary text-white">UPCOMING</span>
								}
							</p>

						</div>
					</div>
					<div class="col-md-12">
						<div class="card-footer">
							<p class="card-text">
								<a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id">
									<i class="bi bi-eye-fill"></i> Show Details
								</a>
								<a class="btn btn-success text-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
								   asp-controller="Order"
								   asp-action="AddItemToShoppingCart"
								   asp-route-id="@item.Id">
									<i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c"))
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>