@model IEnumerable<CinemasViewModel>

@{
	ViewData["Title"] = "Cinemas";
}
<div class="container text-start">
	<p>
		<h1 class="text-center">@ViewData["Title"]</h1>
	</p>
	<div class="row row-cols-auto">
		<table class="table table-hover">
			<thead>
				<tr>
					@*<th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
					<th>@Html.DisplayNameFor(model => model.Name)</th>*@
					@*<th>@Html.DisplayNameFor(model => model.Description)</th>*@
					@*<th>Actions</th>*@
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							<img class="rounded-circle img-fluid" src="@item.ImageUrl" alt="@item.Name" style="max-width: 150px" ? />
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.Name)
						</td>
						@*<td class="align-middle">
							@Html.DisplayFor(modelItem => item.Description)
						</td>*@
						<td class="align-middle">
							@if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
							{
								<a class="btn btn-outline-primary" asp-controller="Cinema" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit</a>
								<a class="btn btn-danger" asp-controller="Cinema" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
							}
							<a class="btn btn-outline-info" asp-controller="Cinema" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a>
							<a class="btn btn-outline-info" asp-controller="Movie" asp-action="AllCinemaMovies" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Movies</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
@if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
{
	<div style="position: fixed; right: 25px; bottom: 75px;" class="text-white">
		<a asp-controller="Actor" asp-action="Create" class="btn btn-success">
			<i class="bi bi-plus-circle"></i>Add New
		</a>
	</div>
}
